<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateModal">
    Add Student
</button>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <h1>Add Student</h1>

                    <form action="/create" method="post">
                        <div class="form-group">
                            <input type="text" name="fornavn" class="form-control" placeholder="Please enter a First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="efternavn" class="form-control" placeholder="Please enter a Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="dato" class="form-control" placeholder="Please enter a Date">
                        </div>
                        <div class="form-group">
                            <input type="text" name="cpr" class="form-control" placeholder="Please enter a CPR">
                        </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

