<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:fragment="updateModal(name1, name2,dato,cpr,id)">

    <p>
    <a type="button" style="color: dodgerblue;" data-toggle="modal" th:attr="data-target='#update' + ${id}" th:href="@{'/update/' + ${student.id}}">Update</a>
    </p>


    <div class="modal fade" th:id="update+${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <h1 >Update</h1>

                        <form action="/update" method="post">
                            <div class="form-group">
                                <input type="text" name="fornavn" class="form-control" th:value="${name1}" th:placeholder="${name1}" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="efternavn" class="form-control" th:value="${name2}" th:placeholder="${name2}" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="dato" class="form-control" th:value="${dato}" th:placeholder="${dato}" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="cpr" class="form-control" th:value="${cpr}" th:placeholder="${cpr}" >
                            </div>
                                <input type="hidden" name="id" th:value="${id}">
                            <div th:text = "${id}"></div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>